{% for p in instance.properties %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ p.attribute.name }}</h3>
        </div>
        <div class="panel-body">
            {{ p|propertyvalue|raw }}
        </div>
    </div>
{% endfor %}
