{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>{{ schema.name }}<em>s</em></h1>

    {% include 'AppBundle:Instance:list.inc.html.twig' %}

    <a href="{{ path('instance_new', {'id': schema.id}) }}">
        Create new Instance
    </a>
{% endblock %}
