{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>Import</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button>
            Import
        </button>
    {{ form_end(form) }}

{% endblock %}
