{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>Schema</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ schema.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ schema.name }}</td>
            </tr>
            <tr>
                <th>Public</th>
                <td>{% if schema.public %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <a class="button u-cf" href="{{ path('schema_edit', { 'id': schema.id }) }}">Edit</a>

    <a href="{{ path('schema_index') }}">Back to the list</a>
{% endblock %}
