body.container {
    padding-top: .7em;
    background-color: #fafafa;
    max-width: 100%;
}

input[type=text] {
    width: 100%;
}

table {
    width: 100%;
}

nav {
    border-bottom: 1px solid #bbb;
    margin-bottom: .7em;
}

header {
    font-weight: bold;
}

ul, ol {
    margin-left: 1em;
}

footer {
    border-top: 1px solid #bbb;
    margin-top: 2em;
    font-size: 9pt;
    font-style: italic;
}

.app-button {
    margin-top: .7em;
}

.import-table label {
    display: inline;
}

.button-small {
    padding-left: 10px;
    padding-right: 10px;
}

.button-warn {
    background-color: crimson;
    color: white;
}
