{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <h1>
        {{ 'label.hello'|trans }}
        {{ app.user.name }}
    </h1>
    <h2>
        {{ 'label.schema.new'|trans }}
    </h2>
    {{ form(newSchemaForm) }}
{% endblock %}